{% extends "image/base.html" %}

{% load image_tags %}

{% block page_title %}Favorite list{% endblock %}

{% block header_title %} Home {% endblock %}

{% block page_content %}

	{% if favImages %}
		<ul id="sortable">
		{% for favorite in favImages %}
			<div id="thumbnail-{{favorite.image.pk}}" class="ui-state-default thumbnail row">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
					<i data-pk="{{favorite.image.pk}}" class="unFav heart fa fa-heart fa-3x"></i>
				</div>		
				<a href="{{ favorite.image.get_absolute_url }}" >
					<img class="col-lg-3 col-md-4 col-sm-6 col-xs-6" src="{{ favorite.image.path.url }}"/>
				</a>
				<h3>{{favorite.image.caption}}</h3>
				<p>{{favorite.image.description}}</p>
			</div>
		{% endfor %}
		</ul>
	{% else %}
		<div class="alert alert-warning col-lg-10 col-lg-offset-1" role="alert">
			<strong>Info!</strong> There are no favorite images.
		</div>
	{% endif %}

	<script>
	// using jQuery
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}

	$(function () {
    	$.ajaxSetup({
        	headers: { "X-CSRFToken": getCookie("csrftoken") }
    	});
	});

	$(function () {
	    $(".unFav").click(function () {
	    	var pk = $(this).data("pk");

	        $.ajax({
	            type: "POST",
	            url: "{% url 'image:favoriteList' %}",
	            data: {
	            	"ref":"favorite",
	            	"pk":pk,
	            	"fav": "False",
	            	"page":"favoriteList"
	            },
	            success: function (data) {		       				        		
	                $("#thumbnail-"+pk).remove();
	            },
	            error: function (data) {
	                alert("Image:"+pk+" -> Error. " + "Status: " + data.status + " Text: " + data.statusText);
	            }
	        });
	    })
	});

	//Sortable
	$(function(){
		$("#sortable").sortable({
			placeholder:"ui-sortable-placeholder",
			stop:function(e, ui){
				var order = $.map($(this).find("div[id*='thumbnail']"), function(el) {
					return $(el).index()+"-"+$(el).attr('id');
				});
				console.log(order);

				$.ajax({
					type:"POST",
					url: "{% url 'image:favoriteList' %}",
					data:{
						"ref":"sort",
						"new_order": order
					},
					/*success:function(data){
						alert("success at re-ordering");
					},
					error:function(data){
						alert("Error. " + "Status: " + data.status + " Text: " + data.statusText);
					}*/
				});
			}
		});
	});

</script>

{% endblock %}