{% extends "image/base.html" %}

{% load image_tags %}

{% block page_title %} Image Detail {% endblock %}

{% block header_title %} Home {% endblock %}

{% block header_second %}
    <a class="navbar-brand" href="{% url 'image:favoriteList' %}"><i class="fa fa-heart fa-1x"> Favorites </i></a> 
    <a class="navbar-brand" href="{% url 'image:imageList' %}"><i class="fa fa-list fa-1x"> List </i></a>
{% endblock %}

{% block page_content %}

	<div class="col-lg-9 col-md-12 col-sm-12">
		<div>
			{% fav_button image %}
		</div>
	</div>
	<div class = "col-lg-3 col-md-12 col-sm-12">
		<!-- Caption -->
		<div class = "col-lg-12">
			<h3> {{ image.caption }}</h3>
		</div>

		<!-- Description -->
		<div class = "col-lg-12 col-md-12 col-sm-12">
			<p> {{ image.description }}</p>
		</div>

		<!-- Upload Date -->
		<div class = "col-lg-12">
			<p> {{ image.upload_date }}</p>
		</div>
	</div>

	<script>
		// using jQuery
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}

		$(function () {
	    	$.ajaxSetup({
	        	headers: { "X-CSRFToken": getCookie("csrftoken") }
	    	});
		});

		$(function () {
		    $("#fav").click(function () {
		    	var type = $(this).data("type");
		    	var fav_value = type == "fav";

		        $.ajax({
		            type: "POST",
		            url: "{% url 'image:imageDetail' image.id %}",
		            data: {
		            	"pk":{{ image.id }},
		            	"fav": fav_value
		            },
		            success: function (data) {
						$("#fav").data("type",(fav_value) ? "unFav" : "fav" );
		                $("#fav").find("i").toggleClass("fa-heart", fav_value).toggleClass("fa-heart-o", !fav_value);
		            },
		            error: function (data) {
		                alert("Error. " + "Status: " + data.status + " Text: " + data.statusText);
		            }
		        });
		    })
		});
	</script>

{% endblock %}