{% extends "image/base.html" %}

{% block page_title %} Image Detail {% endblock %}

{% block header_title %} Slide Show {% endblock %}

{% block page_content %}

	<div class="col-lg-1 col-md-12 col-sm-12">
		<a href="/">
			<button type="button" class="btn btn-default btn-lg">
  				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back
			</button>
		</a>
	</div>

	<div class="col-lg-8 col-md-12 col-sm-12">
		<img class="img-rounded" src="{{ image.path.url }}"/>
	</div>
	<div class = "col-lg-3 col-md-12 col-sm-12">
		<!-- Caption -->
		<div class = "col-lg-12">
			<h3> {{ image.caption }}</h3>
		</div>
		.
		<!-- Description -->
		<div class = "col-lg-12 col-md-12 col-sm-12">
			<p> {{ image.description }}</p>
		</div>

		<!-- Upload Date -->
		<div class = "col-lg-12">
			<p> {{ image.upload_date }}</p>
		</div>		
		
		<!-- favorite form-->
		<div class= "col-lg-12 col-md-12 col-sm-12">
			{% if image.is_fav %}
				<input id="fav" class="btn btn-primary btn-lg btn-block" value="Unfavorite" type="buton" data-type="unFav">
			{% else %}
				<input id="fav" class="btn btn-primary btn-lg btn-block" value="Favorite" type="buton" data-type="fav">
			{% endif %}
		</div>
	</div>

	<script>
		// using jQuery
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}

		$(function () {
	    	$.ajaxSetup({
	        	headers: { "X-CSRFToken": getCookie("csrftoken") }
	    	});
		});

		$(function () {
		    $("#fav").click(function () {
				
		    	var type = $(this).data("type");
				var fav_value;
		    	if(type == "fav"){
		    		fav_value = "True";
		    	}else{
		    		fav_value = "False";
		    	}

		        $.ajax({
		            type: "POST",
		            url: "{% url 'image:imageDetail' image.id %}",
		            data: {
		            	"pk":{{ image.id }},
		            	"fav": fav_value
		            },
		            success: function (data) {
		                if(fav_value == "True"){
		                	$("#fav").data("type","unFav");	
		                	$("#fav").val("Unfavorite");
		                }else{
		                	$("#fav").data("type","fav");
		                	$("#fav").val("Favorite");
		                }
		            },
		            error: function (data) {
		                alert("Error. " + "Status: " + data.status + " Text: " + data.statusText);
		            }
		        });
		    })
		});
	</script>

{% endblock %}