{% extends "image/base.html" %}

{% block page_title %}Home{% endblock %}

{% block header_title %} Home {% endblock %}

{% block header_second %} <a class="navbar-brand" href="{% url 'image:favoriteList' %}"><i class="fa fa-heart fa-1x"> Favorites </i></a> {% endblock %}

{% block page_content %}
    {% if images %}
        <div class="slideContainer">
            <div id = "slides">
                {% for image in images %}
                    <a href="{{ image.get_absolute_url }}">
                        <img src="{{ image.path.url }}"/>
                    </a>
                {% endfor %}
                <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
                <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
            </div>
        </div>
    {% else %}
        <p>No images.</p>
    {% endif %}

    <!-- Upload form. Note enctype attribute! -->
    <div class="container form col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12">
        <form class="col-md-12" action="{% url 'image:home' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="input-group">
                <span for="id_path" class="input-group-addon"><i class="fa fa-image"></i></span>
                <input id="id_path" name="path" type="file" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <span for="id_caption" class="input-group-addon"><i class="fa fa-tag"></i></span>
                <input id="id_caption" name="caption" maxlength="200" type="text" class="form-control" placeholder="Caption">
            </div>
            <br>
            <div class="input-group">
                <span for="id_description" class="input-group-addon"><i class="fa fa-comment"></i></span>
                <input id="id_description" name="description" maxlength="2000" type="text" class="form-control" placeholder="Description">
            </div>
            <br>
            <div class="input-group">
                <span for="id_upload_date" class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input id="id_upload_date" name="upload_date" type="text" class="form-control" placeholder="Date">
            </div>
            <br>
            <input class="btn btn-primary btn-lg" type="submit" value="Upload" />
        </form>
    </div>

    <script>
        $(function(){
            $("#slides").slidesjs({
                width: 940,
                height: 528,
                naviation:true
            });            
        });
    </script>
{% endblock%}