{% extends "image/base.html" %}

{% block page_title %}Home{% endblock %}

{% block header_title %} Home {% endblock %}

{% block header_second %} <a class="navbar-brand" href="{% url 'image:favoriteList' %}"><i class="fa fa-heart fa-1x"> Favorites </i></a> {% endblock %}

{% block page_content %}
    {% if images %}
        <div class="slideContainer">
            <div id = "slides">
                {% for image in images %}
                    <a href="{{ image.get_absolute_url }}">
                        <img src="{{ image.path.url }}"/>
                    </a>
                {% endfor %}
                <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
                <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
            </div>
        </div>
    {% else %}
        <p>No images.</p>
    {% endif %}

    <!-- Upload form. Note enctype attribute! -->
    <div class="form col-lg-6 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12">
        <form class=" col-md-12" action="{% url 'image:home' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="col-md-6 input-group">
                    <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                    {{ field.label_tag }} {{ field }} {{ field.errors }}
                </div>
            {% endfor %}
            
            <!-- Caption -->
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-image"></i></span>
                <input type="file" class="form-control"/>
            </div>
            <br>
            <!-- Caption -->
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                <input type="text" class="form-control" placeholder="Caption" id="id_caption" name="">
            </div>
            <br>
            <!-- Description -->
            <div class="input-group">
                <span class="input-group-addon" id="id_description"><i class="fa fa-comment"></i></span>
                <input type="text" class="form-control" placeholder="Description" id="id_description">
            </div>
            <br>
            <!-- Date -->
            <div class="input-group">
                <span class="input-group-addon" id="id_upload_date"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" placeholder="Date" id="initial-id_upload_date">
            </div>
            <br>
            <input class="btn btn-primary btn-lg" type="submit" value="Upload" />
        </form>
    </div>

    <script>
        $(function(){
            $("#slides").slidesjs({
                width: 940,
                height: 528,
                naviation:true
            });            
        });
/*
        $(function() {
            $("#initial-id_upload_date").datepicker();
        });*/
    </script>
{% endblock%}